@model BugTracker.Models.UserTicketsViewModel
    @using BugTracker.HelperExtensions
@{
    ViewBag.Title = "UserTickets";
}

@if (User.IsInRole("Administrator"))
{ <a href=@Url.Action("Index") class="btn btn-warning pull-right">View All Tickets</a>
    <div class="clearfix"></div>
    <br />
}
@if (User.IsInRole("Developer"))
{
<div id="userTicketsBox" class="box-info shadow">
    <h2>My <strong>Assigned Tickets</strong></h2>
    <div class="headerButtons">
        <a href=@Url.Action("ChooseProject", "Tickets") class="btn btn-warning"><i class="fa fa-plus"></i> Ticket</a>
    </div>
    <div class="box-content">
        <table id="userTickets" class="data-table hover table-striped compact">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Phase</th>
                    <th>Submitted</th>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.AssignedTickets == null)
                {
                    <tr><td>No assigned tickets</td></tr>
                }
                else
                {
                    foreach (var ticket in Model.AssignedTickets)
                    {
                        <tr>
                            <td>@ticket.Name</td>
                            <td>@ticket.Project.Name</td>
                            @if (ticket.Priority != null)
                            {
                            <td>@ticket.Priority.Name</td>
                            }
                            else { <td>none given</td>}
                            @if (ticket.Status != null)
                            {
                            <td>@ticket.Status.Name</td>
                            }
                            else { <td>none given</td>}
                            @if (ticket.Action != null)
                            {
                                <td>@ticket.Action.Name</td>
                            }
                            else { <td>none given</td>}
                            @if (ticket.Phase != null)
                            {
                                <td>@ticket.Phase.Name</td>
                            }
                            else { <td>none given</td>}
                            <td>@ticket.Submitted.FormatDateTimeOffsetCondensed()</td>
                            <td>
                                <a href=@Url.Action("Details", "Tickets", new { id = ticket.Id }) class="btn btn-xs btn-warning"><i class="fa fa-eye"></i></a>
                                @if (User.IsInRole("Developer") || User.IsInRole("Project Manager"))
                        {
                                    <a href=@Url.Action("Edit", "Tickets", new { id = ticket.Id }) class="btn btn-xs btn-warning"><i class="fa fa-edit"></i></a>
                                }
                                <a href=@Url.Action("Create", "Attachments", new { id = ticket.Id }) class="btn btn-xs btn-warning"><i class="fa fa-flip-horizontal fa-paperclip"></i></a>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
}

@if(User.IsInRole("Project Manager"))
{
    <div id="projectTicketsBox" class="box-info shadow">
        <h2>My <strong>Project Tickets</strong></h2>
        <div class="headerButtons">
            <a href=@Url.Action("ChooseProject", "Tickets") class="btn btn-warning"><i class="fa fa-plus"></i> Ticket</a>
        </div>
        <div class="box-content">
            <table id="projectTickets" class="data-table hover table-striped compact">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Project</th>
                        <th>Priority</th>
                        <th>Assigned To</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Phase</th>
                        <th>Submitted</th>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.AssignedProjects == null)
                {
                        <tr><td>No assigned projects</td></tr>
                    }
                    else
                    {
                        foreach (var project in Model.AssignedProjects)
                        {
                            foreach (var ticket in project.Tickets.Where(t=>t.Status.Name !="Resolved"))
                            {
                            <tr>
                                <td>@ticket.Name</td>
                                <td>@ticket.Project.Name</td>
                                @if (ticket.Priority != null)
                                {
                                    <td>@ticket.Priority.Name</td>
                                }
                                else {
                            <td>none given</td>}
                                @if (ticket.AssignedTo != null)
                                { <td>@ticket.AssignedTo.FullName</td>}
                                else { <td>unassigned</td>}
                                @if (ticket.Status != null)
                                {
                                    <td>@ticket.Status.Name</td>
                                }
                                else {
                            <td>none given</td>}
                                @if (ticket.Action != null)
                                {
                                    <td>@ticket.Action.Name</td>
                                }
                                else {
                            <td>none given</td>}
                                @if (ticket.Phase != null)
                                {
                                    <td>@ticket.Phase.Name</td>
                                }
                                else {
                            <td>none given</td>}
                                <td>@ticket.Submitted.FormatDateTimeOffsetCondensed()</td>
                                <td>
                                    <a href=@Url.Action("Details", "Tickets", new { id = ticket.Id }) class="btn btn-xs btn-warning"><i class="fa fa-eye"></i></a>
                                    @if (User.IsInRole("Developer") || User.IsInRole("Project Manager"))
                                    {
                                        <a href=@Url.Action("Edit", "Tickets", new { id = ticket.Id }) class="btn btn-xs btn-warning"><i class="fa fa-edit"></i></a>
                                    }
                                    <a href=@Url.Action("Create", "Attachments", new { id = ticket.Id }) class="btn btn-xs btn-warning"><i class="fa fa-flip-horizontal fa-paperclip"></i></a>
                            </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.SubmittedTickets != null)
{
<div id="submittedTickets" class="box-info shadow">
    <h2>My Current <strong>Submitted Tickets</strong><a href=@Url.Action("ChooseProject", "Tickets") class="headerButtons btn btn-warning"><i class="fa fa-plus"></i> Ticket</a></h2>
    <div class="box-content">
        <table id="userTickets" class="data-table hover table-striped compact">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Assigned To</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Phase</th>
                    <th>Submitted</th>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model.SubmittedTickets)
                {
                    <tr>
                        <td>@ticket.Name</td>
                        <td>@ticket.Project.Name</td>
                        @if (ticket.AssignedTo != null)
                        {
                            <td>@ticket.AssignedTo.FullName</td>
                        }
                        else
                        {
                            <td>unassigned</td>
                        }
                        @if (ticket.Priority != null)
                        {
                            <td>@ticket.Priority.Name</td>                        }
                        else
                        {
                            <td>unassigned</td>
                        }
                            <td>@ticket.Status.Name</td>
                        @if (ticket.Action != null)
                        {
                            <td>@ticket.Action.Name</td>
                        }
                        else
                        {
                            <td>unassigned</td>
                        }
                        @if (ticket.Phase != null)
                        {
                            <td>@ticket.Phase.Name</td>
                        }
                        else
                        {
                            <td>unassigned</td>
                        }
                        <td>@ticket.Submitted.FormatDateTimeOffsetCondensed()</td>
                        <td>
                            <a href=@Url.Action("Details", "Tickets", new { id = ticket.Id }) class="btn btn-xs btn-warning"><i class="fa fa-eye"></i></a>
                            @if (User.IsInRole("Developer") || User.IsInRole("Project Manager") || User.IsInRole("Administrator"))
                    {
                                <a href=@Url.Action("Edit", "Tickets", new { id = ticket.Id }) class="btn btn-xs btn-warning"><i class="fa fa-edit"></i></a>
                            }
                            <a href=@Url.Action("Create", "Attachments", new { id = ticket.Id }) class="btn btn-xs btn-warning"><i class="fa fa-flip-horizontal fa-paperclip"></i></a>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}
