@model BugTracker.Models.UserInfoViewModel
@using BugTracker.HelperExtensions;

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Email</dt>
            <dd>@Model.User.Email</dd>
            <dt>Roles</dt>
            <dd>
                <ul class="list-unstyled">
                    @foreach (var role in Model.SelectedRoles)
                    {
                        <li>@role</li>}
                </ul>
            </dd>
        </dl>
    </div>
    @if (User.IsInRole("Administrator"))
    {
        <div class="col-md-5">
            @using (Html.BeginForm("AddRemoveRole", "Admin"))
            {
                @Html.AntiForgeryToken()
                @Html.ListBox("SelectedRoles", Model.AllRoles, new { @class = "chosen-select" })
                <input type="hidden" name="userId" value="@Model.User.Id" />
                <br />
                if (User.Identity.GetFirstName() == "Guest")
                { <input type="submit" class="btn btn-warning btn-pad" value="Update Roles" disabled />
                <p><small>This button is disabled for guest users.</small></p>}
                else { <input type="submit" class="btn btn-warning btn-pad" value="Update Roles" /> }

            }
        </div>
    }
</div>
<hr />
@if (Model.User.Id.UserIsInRole("Project Manager"))
        {
<div class="row">
    <div class="col-md-12">
        <h4>Assigned Projects</h4>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Deadline</th>
                    <th>Description</th>
                    <th># of Tickets</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.AssignedProjects.Count() == 0)
                {
                    <tr><td>User has no projects.</td></tr>
                }
                else
                {
                    foreach (var project in Model.AssignedProjects)
                    {
                        <tr>
                            <td>@project.Name</td>
                            <td>@project.Deadline.FormatDateTimeOffset()</td>
                            @if (project.Description != null)
                            {
                                    <td>@project.Description</td> }
                            else {
                                    <td>none given</td>}
                            <td>@project.Tickets.Count()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
        }
    @if (Model.User.Id.UserIsInRole("Developer"))
            {
        <div class="innerTable col-md-12">
            <h4>Assigned Tickets</h4>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Ticket Name</th>
                        <th>Project</th>
                        <th>Priority</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.AssignedTickets.Count() == 0)
                    {
                        <tr><td>User has no tickets.</td></tr>
                    }
                    else
                    {
                        foreach (var ticket in Model.AssignedTickets.OrderBy(t=>t.Project.Name))
                        {
                            <tr>
                                <td>@ticket.Name</td>
                                <td>@ticket.Project.Name</td>
                                @if (ticket.Priority != null)
                                { <td>@ticket.Priority.Name</td> }
                                else
                                { <td>unassigned</td>}
                                @if (ticket.Description != null)
                                { <td>@ticket.Description</td> }
                                else {  <td>none given</td>}
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>       
    }
