@model IEnumerable<BugTracker.Models.ApplicationUser>
@using BugTracker.HelperExtensions
<h2 class="col-md-offset-1">All Users</h2>
<div id="usersRender" class="col-md-10 col-md-offset-1">
    @if (ViewBag.SuccessMessage != null)
    {@ViewBag.SuccessMessage()}
    @if (ViewBag.ErrorMessage != null)
    {@ViewBag.ErrorMessage()}
    @foreach (var user in Model.OrderBy(u => u.LastName))
    {
    <div class="box-info shadow">
        <h2 class="userDetails">@user.LastName, @user.FirstName 
            @if (user.Id.ListUserRoles().Contains("Project Manager"))
            {
                <small>(@user.Id.ListUserProjects().Where(p => p.ProjectManagerId == user.Id).Count()) Projects   </small>
            }
            @if (user.Id.ListUserRoles().Contains("Developer"))
            { 
                <small>(@user.Id.ListUserTickets().Count()) Tickets   </small>
            }
            @if(user.Id.ListSubmittedTickets().Count() > 0)
            {
                <small>(@user.Id.ListSubmittedTickets().Count()) Submissions</small>
            }
        </h2>
        <div class="headerButtons">
            <a role="button" data-toggle="collapse" data-parent="#usersRender" data-target="#userInfo-@user.Id" aria-expanded="false" class="btn btn-warning">Details</a>
        </div>
        <div id="userInfo-@user.Id" class="box-content collapse" role="tabpanel">
            @Html.Action("_UserInfo", new { id = user.Id })
        </div>
    </div>
    }
</div>
<div id="editView" class="col-md-3">
</div>
