@model BugTracker.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="col-md-5">
    <div class="box-info shadow">
        <h2>Your Profile Information</h2>
        <dl class="dl-horizontal">
            <dt>First Name</dt>
            <dd>@Model.FirstName </dd>
            <dt>Last Name</dt>
            <dd>@Model.LastName</dd>
            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>@Model.Email</dd>
        </dl>
    </div><!--/profile info-->
</div>
<div class="col-md-7">
    <div class="box-info shadow">
        <h2>Edit Your Profile</h2>
        @using (Html.BeginForm("Edit", "Manage"))
            {
            @Html.AntiForgeryToken();
            @Html.HiddenFor(model => model.Email)
            <div class="col-md-6">
                <p class="text-danger">@ViewBag.ErrorMessage</p>
                <label>First Name</label>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control login-input" } })
                <br />
                <label>Last Name</label>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control login-input" } })
                <br />
                <button type="submit" class="btn btn-warning pull-right text-white">Save Changes</button>
                <div class="clearfix"></div>
            </div>
        }
        <div class="col-md-6">
            <div id="manage">
                <a href=@Url.Action("ChangePassword") class="btn btn-dark text-center btn-pad">Change Password</a>
                <br />
                <a href=@Url.Action("Manage", "ManageLogins") class="btn btn-dark text-center btn-pad">Manage (@Model.Logins.Count) External Logins</a>
            </div>

            <dl>
                <dt>Two-Factor Authentication:</dt>
                <dd>
                    <p>
                        There are no two-factor authentication providers configured. @*See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication.*@
                    </p>
                    @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }*@
                </dd>
            </dl>
        </div>
    </div><!--/edit-->
</div>
